{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h1 class="mb-4">Topics</h1>
{% endblock page_header %}

{% block content %}
<div class="list-group mb-4">
    {% for topic in topics %}
        <a href="{% url 'learning_logs:topic' topic.id %}" class="list-group-item list-group-item-action">
            <h5 class="mb-0">{{ topic }}</h5>
        </a>
    {% empty %}
        <div class="alert alert-info" role="alert">
            No topics have been added yet.
        </div>
    {% endfor %}
</div>

<a href="{% url 'learning_logs:new_topic' %}" class="btn btn-primary">Add a New Topic</a>
{% endblock content %}